html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #202025;
  font-family: 'Roboto', sans-serif;
  padding-top: 100px; }
  @media (max-width: 767px) {
    body {
      padding-top: 115px; } }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.menu-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: #2a2931;
  margin-bottom: 50px;
  border-bottom: 1px solid #3e3c48;
  top: 0px;
  z-index: 100000; }
  @media (max-width: 767px) {
    .menu-bar {
      height: 100px; } }
  .menu-bar::before {
    position: absolute;
    content: " ";
    width: 100%;
    display: block;
    border-bottom: 1px solid #151518;
    bottom: -2px; }
  .menu-bar .intent {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%; }
    @media (max-width: 767px) {
      .menu-bar .intent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%; } }
  .menu-bar h1.logo, .menu-bar h1.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    height: 100%;
    padding: 0px 5px;
    margin-right: 20px; }
    @media (max-width: 767px), (min-width: 768px) and (max-width: 1023px) {
      .menu-bar h1.logo, .menu-bar h1.logo a {
        display: none; } }
  .menu-bar nav ul {
    display: flex; }
    @media (max-width: 767px) {
      .menu-bar nav ul {
        margin-bottom: 20px;
        margin-top: 10px; } }
    .menu-bar nav ul li {
      width: 100%;
      text-align: center;
      margin-right: 20px; }
      .menu-bar nav ul li a {
        display: flex;
        color: #b3b3b3;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        transition: 300ms ease all; }
        .menu-bar nav ul li a small {
          display: table;
          background-color: #FF000C;
          padding: 0px 6px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          border-radius: 50px;
          color: #FFF;
          margin-top: -5px;
          margin-left: 5px;
          font-weight: 400;
          transition: 300ms ease all; }
        .menu-bar nav ul li a.active, .menu-bar nav ul li a:hover {
          color: #FFF;
          border-color: #FF000C; }
  .menu-bar .search-bar {
    position: relative;
    display: flex;
    width: 100%;
    height: 33px;
    border: 1px solid #34333e;
    background-color: #202026;
    border-radius: 5px;
    align-items: center; }
    .menu-bar .search-bar .icon {
      color: #39373e;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px; }
    .menu-bar .search-bar input {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      border: 0;
      background-color: transparent;
      z-index: 1;
      padding-left: 40px;
      box-sizing: border-box;
      font-size: 14px;
      color: #CCC; }
      .menu-bar .search-bar input::placeholder {
        color: #4f4f4f;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.8px;
        opacity: 1; }
      @media (max-width: 767px) {
        .menu-bar .search-bar input {
          font-size: 12px; } }

.loading {
  margin: 0 auto;
  margin-top: 50px; }

main {
  display: flex;
  width: 80%;
  flex-direction: column; }
  @media (max-width: 767px) {
    main {
      width: 95%; } }

.lista-de-personagens {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  transition: 300ms ease all; }
  @media (max-width: 767px) {
    .lista-de-personagens {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1024px) and (max-width: 1200px) {
    .lista-de-personagens {
      grid-template-columns: repeat(4, 1fr); } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .lista-de-personagens {
      grid-template-columns: repeat(3, 1fr); } }
  .lista-de-personagens .item {
    background-color: #000;
    height: 200px;
    background-size: cover;
    background-position: center top;
    border-radius: 3px;
    box-sizing: border-box;
    transition: 300ms ease all;
    cursor: pointer;
    overflow: hidden;
    background-image: none; }
    .lista-de-personagens .item .shadow {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #202025;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
      opacity: 0.75;
      padding: 0px 15px;
      box-sizing: border-box;
      transition: 300ms ease all; }
      .lista-de-personagens .item .shadow:hover {
        opacity: 1;
        background-color: transparent; }
    .lista-de-personagens .item h1 {
      font-size: 24px;
      color: #FFF;
      font-weight: 300;
      margin-bottom: 20px; }
    .lista-de-personagens .item .love {
      font-size: 16px;
      color: #FFF;
      margin-top: 20px;
      font-weight: 200;
      padding: 10px;
      border: 1px solid #FFF;
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.603);
      opacity: 0;
      cursor: pointer;
      transition: ease 300ms all; }
      @media (max-width: 767px), (min-width: 768px) and (max-width: 1023px) {
        .lista-de-personagens .item .love {
          opacity: 1; } }
      .lista-de-personagens .item .love:hover, .lista-de-personagens .item .love:focus {
        border-color: #FF000C;
        color: #FF000C; }
        @media (max-width: 767px), (min-width: 768px) and (max-width: 1023px) {
          .lista-de-personagens .item .love:hover, .lista-de-personagens .item .love:focus {
            border-color: #FFF;
            color: #FFF; } }
      .lista-de-personagens .item .love.loved {
        opacity: 1;
        background-color: #FF000C; }
        .lista-de-personagens .item .love.loved:hover {
          color: #FFF; }
    .lista-de-personagens .item:hover {
      border: #000;
      box-shadow: 0px 0px 39px 3px rgba(0, 0, 0, 0.57);
      transform: scale(1.2);
      z-index: 100; }
      @media (max-width: 767px), (min-width: 768px) and (max-width: 1023px) {
        .lista-de-personagens .item:hover {
          transform: none;
          box-shadow: none; } }
      .lista-de-personagens .item:hover .love {
        opacity: 1; }

.box-title .title-box {
  font-size: 100px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 7, 0.8) 0%, #ff004b 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -5px;
  margin-bottom: -15px; }
  @media (max-width: 767px) {
    .box-title .title-box {
      font-size: 50px;
      margin-bottom: -5px;
      display: none; } }

.paginate {
  display: grid;
  grid-template-columns: repeat(14, 1fr); }
  .paginate li a {
    display: inline-table;
    width: 100%;
    height: 50px; }

button.more {
  display: table;
  width: 60%;
  height: 50px;
  margin: 20px auto;
  background: #2a2931;
  border: 1px solid #3e3c48;
  cursor: pointer;
  color: #CCC;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px; }
  button.more:hover {
    background-color: #393742;
    border-color: #4b4856; }
